#newsaggregator {
	width: 100%;
	padding: 25px 0;
}
#newsaggregator a {
	text-decoration: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#newsaggregator.light {
	background-color: #fff;
	color: #111;
}
#newsaggregator.light a {
	color: #111;
}
#newsaggregator.light a:hover {
	color: #444;
}
#newsaggregator.dark {
	background-color: #111;
	color: #fff;
}
#newsaggregator.dark a {
	color: #e1e2e3;
}
#newsaggregator.dark a:hover {
	color: #f9f9f9;
}
#newsaggregator.cols1 .news-item {
	width: 98%;
	padding: 3% 1% 7% 1%;
}
#newsaggregator .news-item{
	width: 48%;
	padding: 1%;
	display: inline-block;
}
#newsaggregator.cols2 .news-item {
	width: 48%;
	padding: 1%;
	display: inline-block;
}
#newsaggregator.cols3 .news-item {
	width: 32.33%;
	padding: 1%;
	display: inline-block;
}
#newsaggregator.cols4 .news-item {
	width: 23%;
	padding: 1%;
	display: inline-block;
}
@media (max-width: 991px) {
	#newsaggregator.cols4 .news-item {
		width: 48%;
		padding: 1%;
		display: inline-block;
	}
}
@media (max-width: 767px) {
	#newsaggregator .news-item, #newsaggregator.cols1 .news-item, #newsaggregator.cols2 .news-item, #newsaggregator.cols3 .news-item, #newsaggregator.cols4 .news-item {
		width: 98%;
		padding: 3% 1% 7% 1%;
	}
}
#newsaggregator .news-item .news-img {
	width: 100%;
	height: 175px;
	background-size:cover;
	background-position:center;
}
@media (max-width: 767px) {
	#newsaggregator .news-item .news-img {
		height: 275px;
	}
}
@media (max-width: 500px) {
	#newsaggregator .news-item .news-img {
		height: 225px;
	}
}
#newsaggregator .news-item span {
	display: inline;
	font-size: 12px;
}
